  .intro {
    margin-top: 24px;
    padding: 10px;
  }
 

#navbar-example2 {
  /*scroll-margin-top: 141px;*/
  position: sticky;
  top: 141px;
  left: 0;
  text: black;
  width: 100%;
  /*padding: 1rem;*/
  list-style-type: none;
  background-color: #d8f4f3;
  align-content: space-evenly;
  z-index: 9000;
}
#mainav {
  z-index: 9999;
}
.jumbotron {
  padding-top: 0;
}
.nav-item .nav-link {
  color: black;
}
section {
  position: relative;
  height:auto;
  overflow-y: scroll;
}
  p {
    margin: 15px;
  }
  .row {
    padding: 20px;
    margin-left: 20 px;
    margin-right: 20px;

  }

  #list-example {
    list-style: none;
  }
  .scrollspy-example {
    height:auto;
    overflow-y: scroll;
  }
  
.parallax_row {
  background-image: url("media/pexels-sam-lion-5709517 (1).webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  position: relative; 
  max-width: none;
  margin: 0;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 50%; /* Add this line to ensure the caption takes up the full height of the parent container */
  display: flex; /* Add this line to center the text vertically */
  align-items: center; /* Add this line to center the text vertically */
  justify-content: center; /* Add this line to center the text horizontally */
  color: black; 
  font-size: 2rem; /* Adjust the font size as needed */
}
.content {
  max-width: 500px;
  margin: auto;
}
