  .intro {
    margin-top: 24px;
    padding: 10px;
  }
 

#navbar-example2 {
  /*scroll-margin-top: 141px;*/
  position: sticky;
  top: 141px;
  left: 0;
  text: black;
  width: 100%;
  /*padding: 1rem;*/
  list-style-type: none;
  background-color: #E3A6FF;
  align-content: space-evenly;
  z-index: 9000;
}
#mainav {
  z-index: 9999;
}
.jumbotron {
  padding-top: 0;
}
.nav-item .nav-link {
  color: black;
}
section {
  position: relative;
}
  p {
    margin: 15px;
  }
  .row {
    padding: 20px;
    margin-left: 20 px;
    margin-right: 20px;

  }

  #list-example {
    list-style: none;
  }
  .scrollspy-example {
    height:auto;
    overflow-y: scroll;
  }

