header {
  margin: 0;
}
.media {
  padding-left: 150px;
  padding-bottom: 50px;
}
.col {
  /*padding-right: 30px;
  padding-left: 30px;*/
  padding-bottom: 100px;
}
/*h1 {
  padding-bottom: 100px;
}*/
h2 {
  text-align: center;
  margin-bottom: 100px;
}
.card {
  margin-bottom: 150px;
  justify-content:center;
}

/*h3 {
  padding-bottom: 50px;
}
  .jumbotron h2 {
  text-align: center;
  }*/
  /*html, body {
    margin: 0;
    padding: 0;
    width: 100%;*/
    /*background-color: #000000;*/
    /*font-family:sans-serif;
  }*/
  /* Centers and Aligns Text 
  .centered {
    margin: 0 auto;
    width: 100%;
    text-align: left;
  }*/

  /* Sets Styling, Positioning and Font Styling for Intro Text */
 /* .container {
    font-weight: 500;
    font-size: 50px;
    color: black;
    display: center;
  }*/
  /* Sets styles and CSS animation values for typing animation
  .typing {
    width: 21em; 
    position: absolute;
    height: 120px;
    opacity: 0;
    margin: 10px;
    overflow: hidden;
    animation: type 24s steps(28);
  }*/
  .typewriter{
    white-space: nowrap;
    overflow: hidden;
    animation: 
      typing 4.5s,
      blink-caret .75s step-end infinite;
  }
  span#blink{
    color:white !important;
    animation: blink 1s infinite;
  }
 /* /* Sets delay for each animated word
  .typing:nth-child(2) {  
    animation-delay: 8s;
  }
  .typing:nth-child(3) {  
    animation-delay: 16s;
  }
  .typing:nth-child(4) { 
    animation-delay: 24s; 
  }
  .typing:nth-child(5) {  
    animation-delay: 40s; 
  }
  .typing:nth-child(6) { 
    animation-delay: 60s;
  }
  /* Keyframes for animation */ 
  @keyframes typing {
    0% {opacity: 0; width:0;}
    2% {opacity: 1;}
    14% {opacity: 1; width: 12ch;}
    26% {opacity: 1; width: 0;}
    27% {opacity: 0;}
  }

  /* Curser Animation */
  .blinking-cursor {
    position: relative;
    -ms-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  @keyframes "blink" {
    from, to {
        color: transparent;
    
    50% {color: white;}}
  }
 
  
  .img-fluid {
    align-items: center;
    justify-content: center;
  }
  .card-header {
    font-size: 18px;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
  /*#judemock {
    padding-bottom: 160px;
  }*/
  }
  #aumock:hover {
    box-shadow: 10px 10px lightgrey;
    transition: all 0.3s ease;
   }
   #judemock:hover {
    box-shadow: 10px 10px lightgrey;
    transition: all 0.3s ease;
   }
    @media screen and (min-width:992px ){
    .headshot {
     width: 25%;
    }
    .card-body{
        padding: 20px;
      }
      #aumock {
        align-items: space-around;
      }
      #judemock {
        align-items: space-around;
      }
    }
  .hero {
    margin-bottom: 150px;
    background-image: url('media/hero_background.png');
    background-size: cover; 
  }

  
  