body {
  margin: 10px;
}
.nav-item .nav-link {
    background-color:  #E3A6FF;
    border-color: black;
    border-width: 1px;
  }
  .nav-item active {
    background-color: white;
    border-width: 1px;
  }
.card-body{
  padding: 20px;
}
  h1{
    text-align: center;
  }
 #list-item-1 {
  align-items:center;
  justify-content:space-evenly;
 }
 .card:hover {
  box-shadow: 10px 10px lightgrey;
  transition: all 0.3s ease;
 }
 #aumock:hover {
  box-shadow: 10px 10px lightgrey;
  transition: all 0.3s ease;
 }
 #judemock:hover {
  box-shadow: 10px 10px lightgrey;
  transition: all 0.3s ease;
 }
  @media screen and (min-width:992px ){
  .headshot {
   width: 25%;
  }
.header {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn {
  background-color: yellow;
  color: black;
}
.btn:hover {
  background-color: #E3A6FF; 
}
.card-header {
  font-size: 18px;
  text-align: center;

}
@media screen and (min-width: 768px) {
#judemock {
  padding-bottom: 160px;
}
}
/*.card-body{
  justify-content: baseline;
  align-items:last baseline;
}*/
/*@media (max-width: 991.98px) {
  .card{
    width: 100%;
  }
}*/
/*@media screen and (min-width: 768px) {
  .card col { 
    width: 50%;
}
}*/
.jumbotron-fluid {
  margin-top: 50px;
}

.jumbotron h2 {
text-align: center;
}
#hero {
  background-color: white;
}
.img-fluid {
  align-items: center;
  justify-content: center;
}
/*#judemock:hover {
  background-color: #CEBCAE; 
}
#aumock:hover {
background-color:#A0A0A0;
}*/
/*.card-col{
  width: 18rem;
}
@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }
}*/
/*@media screen and (mid-width: 480px) {
.card col {
  width: 50%;
}*/

/*.card col {
  @include media-breakpoint-only(lg) {
    display: inline ; 
list-group-item list-group-item-action
  }*/
 /* .conatiner-fluid {
    align-content: space-between;
  }*/
/*@media screen and (min-width: 768px) {
  .card col display: in
}*/
/*.card mb-3 {
  margin-top: 10px;
  padding-top: 10px;
}*/
.icon {
  padding: 10px;
}
footer .row h2 {
  display: inline-block; 
 /* margin-bottom: 20px;
  padding-bottom: 15px;*/
}
/*project1 page*/
.list-group-item  {
  position: relative;
  display: block;
  list-style-type: none;
}
#list-sidebar {
  list-style-type: none;
}

.affix {
  top: 20px;
  z-index: 9999  !important
}
@media screen and (max-width: 810px) {
#list-sidebar {
  margin-left: 150px;
}
}
.list-group-item-action:hover {
  background-color:#E3A6FF;
}
.design-process {
  margin-top: 30px;
  overflow-y: scroll;
}
p {
  margin: 15px;
}

.media {
  padding-bottom: 250px;
}